@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Bem vindo ao Portal do Almoxarifado</h2>
    <p class="lead">Qualquer dúvida entre em contato com o departamento de Tecnologia.</p>
    <a href="" class="btn btn-warning">Suporte</a>

</div>
